%h2 #{@db.name}/#{@collection.name} (#{@collection.count})

%a{:href => "/drop/" + File.join(@db.name, @collection.name)} Drop #{@collection.name}

%table
  %tr
    - @collection.find_one.each_key do |key|
      %th
        = key

  - @collection.find.each do |row|
    %tr
      - row.each do |index, val|
        %td
          = val
