%h2 
  %a{:href => "/database/" + @db.name} 
    #{@db.name}
  = @collection.name
  = @collection.count


#ul
  %li
    %a{:href => "/drop/collection/" + File.join(@db.name, @collection.name)} Drop #{@collection.name}
  %li
    %a{:href => "/remove/documents/" + File.join(@db.name, @collection.name)} Delete all documents
  %li
    %a{:href => "/add/document/" + File.join(@db.name, @collection.name)} Add document

%table
  %tr
    - if @collection.find_one
      - @collection.find_one.each_key do |key|
        %th
          = key
      %th
        delete

  - @collection.find.each do |row|
    %tr
      - row.each do |index, val|
        %td
          = val
      %td
        %a{:href => "/remove/document/" + File.join(@db.name, @collection.name, row["_id"].to_s)} X
