%h2 
  %a{:href => "/database/" + @db.name} 
    #{@db.name}
  = @collection.name
  = @collection.count


%ul
  %li
    %a{:href => "/drop/collection/" + File.join(@db.name, @collection.name)} Drop #{@collection.name}
  %li
    %a{:href => "/remove/documents/" + File.join(@db.name, @collection.name)} Delete all documents
  %li
    %a{:href => "/add/document/" + File.join(@db.name, @collection.name)} Add document

%table
  %tr
    - @refrow = @collection.find_one
    - if @refrow
      - @refrow.each_key do |key|
        %th
          = key
      %th.meta
        delete

  - @collection.find.each do |row|
    %tr
      - @refrow.each_key do |key|
        %td
          = row[key]
      %td.meta
        %a{:href => "/remove/document/" + File.join(@db.name, @collection.name, row["_id"].to_s)} X
