%h2 
  %a{:href => "/database/" + @db.name} 
    #{@db.name}
  = @collection.name
  = "(" + @collection.count.to_s
  - if @collection.count == 1
    ="document)"
  - else
    ="documents)"


%ul
  %li
    %a{:href => "/drop/collection/" + File.join(@db.name, @collection.name)} Drop #{@collection.name}
  %li
    %a{:href => "/remove/documents/" + File.join(@db.name, @collection.name)} Delete all documents
  %li
    %a{:href => "/add/document/" + File.join(@db.name, @collection.name)} Add document

%table.collection
  %tr
    - @refrow = @collection.find_one
    - if @refrow
      - @refrow.each_key do |key|
        %th
          = key
      - if @refrow["_id"]
        %th.meta
          delete
        %th.meta
          edit

  - @collection.find.each do |row|
    %tr
      - @refrow.each_key do |key|
        %td
          = row[key]
      - if row["_id"]
        %td.meta
          %a{:href => "/remove/document/" + File.join(@db.name, @collection.name, row["_id"].to_s)}
            %img{:src => "/delete.png"}
        %td.meta
          %a{:href => "/edit/document/" + File.join(@db.name, @collection.name, row["_id"].to_s)}
            %img{:src => "/pencil.png"}
